* {

  /* background-color: black; */
  color: white;
  overflow-x: hidden;
}

/* CUSTOM SCROLL-BAR */
body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: white;
}

body::-webkit-scrollbar-thumb:hover {
  background: white;
}

body::-webkit-scrollbar-button {
  display: none;
}

/* IMPORTING FONTS */
@font-face {
  font-family: FoundersGrotesk-Semibold;
  src: url('../fonts/FoundersGrotesk-Semibold.ttf');
}

@font-face {
  font-family: NeueMontreal-Regular;
  src: url('../fonts/NeueMontreal-Regular.ttf');
}

/* ---------------------------------------------------------------------------------------------------------- */
/* NAVBAR */
.links1 {
  font-size: 1.57vw;
  cursor: pointer;
  font-family: NeueMontreal-Regular;
  font-weight: 400;
  color: white;
}

/* LANDING PAGE */
.landingPage {
  font-family: FoundersGrotesk-Semibold;
  font-weight: 600;
}

.landingPageFooter {
  font-family: NeueMontreal-Regular;
  font-weight: 400;
}

/* MARQUEE */
.marquee {
  font-family: FoundersGrotesk-Semibold;
  font-weight: 400;
}

.marqueeAnimation {
  transform: translateX('-100%');
  transition: all 5;
}
/* ABOUT  */
.aboutPart1{
  font-family: NeueMontreal-Regular;

}